@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* .fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
   */


   *{
    margin: 0;
    padding: 0;

   }

/*  shared style  */
   .primary-title-color{
    color:#0E0E0E;
   }
.primary-btn{
    background-color: #006A50;
    color: #FFFFFF;
    font-family: "Fira Sans";
    font-weight: 600;
    
    line-height: auto;
    font-size: 18px;
}

   


   /* nav style  */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 28px 200px;

}
   .nav-title{
    padding-top: 16px;
    width: 222px;
    height: 38px;
    font-size: 34px;
    line-height: auto;
    font-weight: bolder;
   }
.nav-btn{
    color: #006A50;
    width: 116px;
    height: 52px;
    border: 1px solid #1E1E1E;
    font-family: "Fira Sans";
    font-size: 18px;
    line-height: auto;
    border-radius: 10px;
    background-color: #F5F5F5;
}

/* banner style */
.banner-section{
    max-width: 1580px;
    height: 580px;
    margin: 20px 200px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    padding: 120px 90px 120px 90px;

}

.banner-title{
    color: #0E0E0E;
    width: 622px;
    height: 29px;
    text-align: start;
    font-family: "Fira Sans";
    font-size: 24px;
    font-weight: 400;
    opacity: 50%;
    padding: 0px 20px 0px 20px  ;
}
.banner-texts{
    color: #0E0E0E;
    font-family: "Fira Sans";
    width: 622px;
    height: 201px;
    font-weight: bold;
    line-height: auto;
    font-size: 56px;
    padding: 0px 20px 0px 20px  ;

}

.banner-btn{
    margin-top: 30px;
    margin-left: 20px;
    padding: 0px 20px 0px 20px  ;
    height: 57px;
    width: 270px;
}
.banner-img{
    width: 500px;
    height: 400px;
    padding-bottom: 100px;
}



