@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* .fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
   */


   *{
    margin: 0;
    padding: 0;
    /* background-color:#FFFFFF ; */

   }

/*  shared style  */
   .primary-title-color{
    color:#0E0E0E;
   }
.primary-btn{
    background-color: #006A50;
    color: #FFFFFF;
    font-family: "Fira Sans";
    font-weight: 600;
    
    line-height: auto;
    font-size: 18px;
}

   


   /* nav style  */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 28px 200px;

}
   .nav-title{
    padding-top: 16px;
    width: 222px;
    height: 38px;
    font-size: 34px;
    line-height: auto;
    font-weight: bolder;
   }
.nav-btn{
    color: #006A50;
    width: 116px;
    height: 52px;
    border: 1px solid #1E1E1E;
    font-family: "Fira Sans";
    font-size: 18px;
    line-height: auto;
    border-radius: 10px;
    background-color: #F5F5F5;
}

/* banner style */
.banner-section{
    max-width: 1580px;
    height: 580px;
    margin: 20px 200px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    padding: 120px 90px 120px 90px;

}

.banner-title{
    color: #0E0E0E;
    width: 622px;
    height: 29px;
    text-align: start;
    font-family: "Fira Sans";
    font-size: 24px;
    font-weight: 400;
    opacity: 50%;
    padding: 0px 20px 0px 20px  ;
}
.banner-texts{
    color: #0E0E0E;
    font-family: "Fira Sans";
    width: 622px;
    height: 201px;
    font-weight: bold;
    line-height: auto;
    font-size: 56px;
    padding: 0px 20px 0px 20px  ;

}

.banner-btn{
    margin-top: 30px;
    margin-left: 20px;
    padding: 0px 20px 0px 20px  ;
    height: 57px;
    width: 270px;
}
.banner-img{
    width: 500px;
    height: 400px;
    padding-bottom: 100px;
}

/* pillars of bd styles */
.pillar-section {
    max-width: 1580px;
    height: 324px;
    margin: 20px 200px;
    margin-top: 80px;
}
.pillar-section .pillar-title{
    
    width: 1580px;
    height: 50px;
    font-family: "Fira Sans";
    font-size: 40px;
    font-weight: bold;
    line-height: auto;
    text-align: start;
    margin-bottom: 15px;
}
.pillars-container{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    

}
.pillars-column{
    padding: 15px 10px;
    margin-bottom: 20px;
    width: 380px;
    height: 244px;
    border: 1px solid rgb(14, 14, 14,15%);
    border-radius: 16px;
    margin-bottom: 80px;
}.pillars-img{
    height: 72px;
    width: 72px;
    padding: 10px 8px;
}

.pillars-subtitle{
    width: 260px;
    height: 24px;
    font-family: "Fira Sans";
    font-weight: bold;
    line-height: auto;
    font-size: 22px;
    padding: 10px 8px;
    margin-bottom: 5px;
    color: rgb(14, 14, 14,80%);
}
.pillars-description{
    width: 260px;
    height: 80px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Fira Sans";
    color: rgb(14, 14, 14,70%);
    padding: 10px 8px;

}

/* vision future section  */

.vision-title{
    margin-top: 80px;
    width: 1580px;
    height: 50px;
    font-family: "Fira Sans";
    font-size: 40px;
    font-weight: bold;
    line-height: auto;
    text-align: start;
    margin-bottom: 15px;
}
.vision-future{
    max-width: 1580px;
    height: 580px;
    margin: 80px 200px 80px 200px;
    margin-top: 80px;
}
.vision-description{
    font-family: "Fira Sans";
    width: 1500px;
    height: 50px;
    text-align: start;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color:rgb(14, 14, 14,70%); 
    padding: 10px 50px 10px 0px ;
    margin-bottom: 16px;

}
.vision-container{
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    width: 1580px;
    height: 330px;
    gap: 35px;
}
.vision-column-1{
    width: 480px;
    height: 330px;
    background-color: rgb(84,144 , 245,20%);
    border-radius: 16px;
}
.vision-column-2{
    width: 480px;
    height: 330px;
    background-color: rgb(198,228,214,100%);
    border-radius: 16px;
}
.vision-column-3{
    width: 480px;
    height: 330px;
    background-color: rgb(247,235,207,100%);
    border-radius: 16px;
}


.vision-column-title{
    width: 450px;
    height: 27px;
    font-family: "Fira Sans";
    font-weight: bold;
    line-height: auto;
    font-size: 21px;
    padding: 10px 12px;
    margin-bottom: 5px;
    color: rgb(14, 14, 14,80%);
}
.vision-img{
    height: 72px;
    width: 72px;
    padding: 20px 12px;
    padding-top: 30px;
}
.vision-column-description{
    width: 450px;
    height: 72px;
    padding: 10px 12px;
    padding-top: 10px;
}

.vision-btn{
    width: 140px;
    height: 42px;
    border-radius: 9px;
    padding: 10px 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    font-family: "Fira Sans";
    text-align: center;
    margin-left: 12px;
    margin-bottom: 20px;
}



